In [ ]:
import pandas as pd
import os

os.chdir(r'path\to\repo')
import myfuncs.myfuncs as mf

import warnings
warnings.filterwarnings('ignore')

cwd = r'path\to\data'
os.chdir(cwd)
mf.read_directory()

master_data = pd.read_csv('Netcall Interactions Master Data.csv',low_memory=False)

Your Current Directory is: C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data
Files in: ['desktop.ini', 'Interactions Feb 2023 - Apr 2024 (excl Cust Serv)', 'Interactions Feb 2025 (excl Cust Serv)', 'Interactions Jan 2022 - Dec 2022 (excl Cust Serv)', 'Interactions Jan 2024 - Jun 2024 (excl Cust Serv)', 'Interactions Jun 24 - Jan 25 (excl Cust Serv)', 'Interactions Mar 2025 (excl Cust Serv)', 'Interactions_Jan 2023 (LIMITED GROUPS)', 'Netcall Dashboard Data.csv', 'Netcall Interactions Master Data.csv']

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

master_df = master_data.copy()

columns_to_drop = [
    'customername','assistedby',
    'casereference','ipaddress'
]
master_df.drop(columns=columns_to_drop, inplace=True)

master_df['nullcount'] = master_df.isna().sum(axis=1)
master_df.sort_values(by=['interactionid','nullcount'], inplace=True)
drop = master_df[master_df['interactionid'].duplicated(keep='first')]
master_df.drop(drop.index, inplace=True)
master_df.drop(columns='nullcount', inplace=True)

columns_to_change = ['timeended', 'timequeued']
for column in columns_to_change:
    master_df[column] = pd.to_datetime(master_df[column])

master_df['queuetime'] = master_df['timeended'] - master_df['timequeued']

columns_to_change = [
    'duration','talktime','holdtime',
    'wrapupduration','agenthandlingtime'
]
master_df[columns_to_change] = master_df[columns_to_change].apply(lambda x: x.str.replace(r'(?<!^)-', '', regex=True))
for column in columns_to_change:
    master_df[column] = pd.to_timedelta(master_df[column])

master_df['dateofqueue'] = master_df['timequeued'].dt.date
mf.validate_data(master_df)

#########################################################################################################################################################################################
DataFrame: None

,interactionid,groupname,type,direction,timequeued,timeended,queue,skill,agent,customercontact,queuetime,duration,talktime,holdtime,wrapupduration,agenthandlingtime,result,activitycode,transferredto,subject,conversationstarttime,conversationendtime,conversationduration,agentusername,agentid,forwarded,source,conversationid,Year,Month,dateofqueue
0,2640671,Repair CSC,Email,Inbound,2022-01-01 02:15:00,2022-01-04 16:01:00,Repairs customer e-mail,E-Mail Responses - Customer,Georgia St Rose,Gbenga.Osunkoya@lbhf.gov.uk,3 days 13:46:00,0 days 00:04:05,0 days 00:04:05,0 days 00:00:00,0 days 00:00:04,0 days 00:04:09,Replied,Repair Status,NaN,RE: Inspection item Requires Attention - (BLK) 1-180 Poynter House,01/01/2022 02:15,04/01/2022 16:01,85:46:28,4861,4861.0,0.0,Email,2516337,2022,1,2022-01-01
1523722,2640673,Customer Services,Email,Inbound,2022-01-01 03:05:38,2022-01-04 09:09:58,Electoral Services,Electoral Services Email,Gillian Hoyle,mccatigan@gmail.com,3 days 06:04:20,0 days 00:00:23,0 days 00:00:22,0 days 00:00:01,0 days 00:00:00,0 days 00:00:22,Other,NaN,NaN,Register to Vote,01/01/2022 03:05:38,04/01/2022 09:09:58,78:04:20,NaN,NaN,1.0,NaN,2516339,2022,1,2022-01-01
1,2640679,Repair CSC,Email,Inbound,2022-01-01 06:14:00,2022-01-04 16:05:00,Repairs Internal e-mail,E-mail Responses - Internal,Georgia St Rose,Baboucarr.Gaye@lbhf.gov.uk,3 days 09:51:00,0 days 00:03:35,0 days 00:03:34,0 days 00:00:01,0 days 00:00:09,0 days 00:03:43,Replied,Repair Status,NaN,RE: Norland House Electrical Failure (Job Ref. 1126163/1 emergency within 4hrs),01/01/2022 06:14,04/01/2022 16:05,81:51:20,4861,4861.0,0.0,Email,2516345,2022,1,2022-01-01
2,2640681,Repair CSC,Email,Inbound,2022-01-01 09:08:00,2022-01-04 16:05:00,Repairs Internal e-mail,E-mail Responses - Internal,Emma Hicks,orbisreports@orbisprotect.com,3 days 06:57:00,0 days 00:03:06,0 days 00:03:06,0 days 00:00:00,0 days 00:00:16,0 days 00:03:22,Transferred,OOH - Related,Mehul Patel,[Orbis Protect] - Unallocated Cases,01/01/2022 09:08,04/01/2022 16:17,79:09:21,971,971.0,0.0,Email,2516347,2022,1,2022-01-01
3,2640683,Repair CSC,Email,Inbound,2022-01-01 09:38:00,2022-01-04 16:19:00,Repairs customer e-mail,E-Mail Responses - Customer,Emma Hicks,noreply@lbhf.gov.uk,3 days 06:41:00,0 days 00:14:11,0 days 00:14:10,0 days 00:00:01,0 days 00:01:00,0 days 00:15:10,Replied,Repair Status,NaN,Form submission from: Housing repair notification form,01/01/2022 09:38,04/01/2022 16:19,78:41:00,971,971.0,0.0,Email,2516349,2022,1,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2518313,7930908,Customer Services,Call,Outbound,2025-04-09 17:23:42,2025-04-09 17:28:14,Parking Permits Other,Parking Permits Other,Wayne Clarke,07928492735,0 days 00:04:32,0 days 00:04:29,0 days 00:04:29,0 days 00:00:00,0 days 00:00:04,0 days 00:04:33,Answered,NaN,NaN,NaN,09/04/2025 17:23:42,09/04/2025 17:28:14,00:04:32,NaN,NaN,NaN,NaN,7556446,2025,4,2025-04-09
2518314,7930914,Customer Services,Call,Inbound,2025-04-09 17:30:50,2025-04-09 17:35:32,Cost of Living Crisis,Cost of Living Crisis,Joseph Addison,07539906787,0 days 00:04:42,0 days 00:04:26,0 days 00:03:14,0 days 00:01:12,0 days 00:00:30,0 days 00:04:56,Answered,Fuel Voucher New Request,NaN,NaN,09/04/2025 17:30:50,09/04/2025 17:35:32,00:04:42,NaN,NaN,NaN,NaN,7556452,2025,4,2025-04-09
2518315,7930926,Customer Services,Call,Inbound,2025-04-09 17:47:17,2025-04-09 17:48:21,Cost of Living Crisis,Cost of Living Crisis,Joseph Addison,Unknown,0 days 00:01:04,0 days 00:00:48,0 days 00:00:28,0 days 00:00:20,0 days 00:00:30,0 days 00:01:18,Answered,Cost of Living Payment Query,NaN,NaN,09/04/2025 17:47:17,09/04/2025 17:48:21,00:01:04,NaN,NaN,NaN,NaN,7556464,2025,4,2025-04-09
2518316,7930928,Customer Services,Call,Inbound,2025-04-09 17:50:25,2025-04-09 17:52:00,Cost of Living Crisis,Cost of Living Crisis,Joseph Addison,Unknown,0 days 00:01:35,0 days 00:01:20,0 days 00:01:13,0 days 00:00:07,0 days 00:00:30,0 days 00:01:50,Answered,Cost of Living Payment Query,NaN,NaN,09/04/2025 17:50:25,09/04/2025 17:52:00,00:01:35,NaN,NaN,NaN,NaN,7556466,2025,4,2025-04-09
2518317,7930930,Customer Services,Call,Inbound,2025-04-09 17:53:55,2025-04-09 17:55:59,Cost of Living Crisis,Cost of Living Crisis,Joseph Addison,Unknown,0 days 00:02:04,0 days 00:01:54,0 days 00:01:54,0 days 00:00:00,0 days 00:00:30,0 days 00:02:24,Answered,Fuel Voucher New Request,NaN,NaN,09/04/2025 17:53:55,09/04/2025 17:55:59,00:02:04,NaN,NaN,NaN,NaN,7556468,2025,4,2025-04-09

Unique values per field:

               Field Name  No. of Unique Values
0           interactionid               2468348
1               groupname                    48
2                    type                     3
3               direction                     2
4              timequeued               2026995
5               timeended               2033885
6                   queue                   187
7                   skill                   199
8                   agent                   770
9         customercontact                341733
10              queuetime                121454
11               duration                 19707
12               talktime                  7138
13               holdtime                 17667
14         wrapupduration                  3065
15      agenthandlingtime                  7597
16                 result                    11
17           activitycode                   865
18          transferredto                  4259
19                subject                169360
20  conversationstarttime               1987622
21    conversationendtime               2004803
22   conversationduration                130653
23          agentusername                   715
24                agentid                   699
25              forwarded                     8
26                 source                    25
27         conversationid               2359780
28                   Year                     4
29                  Month                    12
30            dateofqueue                  1186

Number of duplicate rows:
0

<class 'pandas.core.frame.DataFrame'>
Index: 2468348 entries, 0 to 2518317
Data columns (total 31 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   interactionid          2468348 non-null  int64
 1   groupname              2468348 non-null  object
 2   type                   2468348 non-null  object
 3   direction              2468348 non-null  object
 4   timequeued             2468348 non-null  datetime64[ns]
 5   timeended              2468348 non-null  datetime64[ns]
 6   queue                  2468348 non-null  object
 7   skill                  2255299 non-null  object
 8   agent                  1980112 non-null  object
 9   customercontact        2461770 non-null  object
 10  queuetime              2468348 non-null  timedelta64[ns]
 11  duration               2468348 non-null  timedelta64[ns]
 12  talktime               2468348 non-null  timedelta64[ns]
 13  holdtime               2468348 non-null  timedelta64[ns]
 14  wrapupduration         2468348 non-null  timedelta64[ns]
 15  agenthandlingtime      2468348 non-null  timedelta64[ns]
 16  result                 2468348 non-null  object
 17  activitycode           1305424 non-null  object
 18  transferredto          256863 non-null   object
 19  subject                340730 non-null   object
 20  conversationstarttime  2467675 non-null  object
 21  conversationendtime    2467288 non-null  object
 22  conversationduration   2468348 non-null  object
 23  agentusername          1201111 non-null  object
 24  agentid                1200830 non-null  object
 25  forwarded              342654 non-null   float64
 26  source                 1523722 non-null  object
 27  conversationid         2468348 non-null  int64
 28  Year                   2468348 non-null  int64
 29  Month                  2468348 non-null  int64
 30  dateofqueue            2468348 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(4), object(18), timedelta64[ns](6)
memory usage: 602.6+ MB
DataFrame: df_name

None

Summary statistics:

,interactionid,timequeued,timeended,queuetime,duration,talktime,holdtime,wrapupduration,agenthandlingtime,forwarded,conversationid,Year,Month
count,2.468348e+06,2468348,2468348,2468348,2468348,2468348,2468348,2468348,2468348,342654.000000,2.468348e+06,2.468348e+06,2.468348e+06
mean,5.363465e+06,2023-08-11 19:20:19.635866880,2023-08-12 03:00:22.827425536,0 days 07:40:03.191558888,0 days 00:14:27.719004775,0 days 00:04:11.396476509,0 days 00:10:16.326296778,0 days 00:01:04.382703330,0 days 00:06:05.406417166,0.051244,5.094405e+06,2.023149e+03,6.067508e+00
min,2.640671e+06,2022-01-01 02:15:00,2022-01-04 07:40:00,-1 days +23:59:50,0 days 00:00:00,-2 days +18:03:37,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0.000000,2.516235e+06,2.022000e+03,1.000000e+00
25%,4.052774e+06,2022-10-11 11:33:00,2022-10-11 15:05:16.500000,0 days 00:02:00,0 days 00:00:19,0 days 00:00:16,0 days 00:00:00,0 days 00:00:02,0 days 00:00:42,0.000000,3.867590e+06,2.022000e+03,3.000000e+00
50%,5.428856e+06,2023-08-14 10:45:39,2023-08-14 11:28:59,0 days 00:06:19,0 days 00:02:34,0 days 00:02:19,0 days 00:00:00,0 days 00:00:10,0 days 00:03:23,0.000000,5.134406e+06,2.023000e+03,6.000000e+00
75%,6.666100e+06,2024-05-29 16:09:15.249999872,2024-05-30 09:29:10.500000,0 days 00:17:50,0 days 00:06:42,0 days 00:05:25,0 days 00:00:01,0 days 00:01:00,0 days 00:07:48,0.000000,6.322024e+06,2.024000e+03,9.000000e+00
max,7.930930e+06,2025-04-09 17:53:55,2025-04-09 17:55:59,220 days 03:09:28,41 days 23:37:12,3 days 14:20:23,41 days 23:37:04,3 days 16:24:39,3 days 16:25:12,7.000000,7.556468e+06,2.025000e+03,1.200000e+01
std,1.513771e+06,NaN,NaN,2 days 21:58:33.132874602,0 days 05:01:35.101114341,0 days 00:09:38.094642602,0 days 05:00:21.354161656,0 days 00:15:42.308051951,0 days 00:18:45.463689136,0.229726,1.433531e+06,9.598142e-01,3.457902e+00

End of data validation
#########################################################################################################################################################################################

In [3]:
aggregated_interactions = master_df.groupby(['direction','type','dateofqueue','groupname','queue','result']).agg(
    number_of_interactions = ('interactionid', 'count'),
    wrap_upduration = ('wrapupduration','sum'),
    queue_time = ('queuetime','sum'),
    duration = ('queuetime','sum'),
    talk_time = ('talktime','sum'),
    hold_time = ('holdtime','sum'),
    agent_handling_time = ('agenthandlingtime','sum'),
).reset_index()

columns_to_change = [
    'wrap_upduration','queue_time','duration',
    'talk_time','hold_time','agent_handling_time'
]
for column in columns_to_change:
    aggregated_interactions[column].fillna(pd.Timedelta(0), inplace=True)
    aggregated_interactions[column] = aggregated_interactions[column].apply(lambda x: x.total_seconds())

mf.validate_data(aggregated_interactions)

#########################################################################################################################################################################################
DataFrame: None

,direction,type,dateofqueue,groupname,queue,result,number_of_interactions,wrap_upduration,queue_time,duration,talk_time,hold_time,agent_handling_time
0,Inbound,Call,2022-01-04,ACE and Admissions,ACE and Admissions,Answered,15,4241.0,5580.0,5580.0,5349.0,0.0,9590.0
1,Inbound,Call,2022-01-04,Adult Education,General Enquiry,Abandoned,2,0.0,240.0,240.0,0.0,0.0,0.0
2,Inbound,Call,2022-01-04,Adult Education,General Enquiry,Answered,66,1954.0,25260.0,25260.0,23670.0,0.0,25624.0
3,Inbound,Call,2022-01-04,CAS Team 1 6945,CAS Team 1 6945 Queue,Answered,3,180.0,300.0,300.0,210.0,0.0,390.0
4,Inbound,Call,2022-01-04,CAS Team 2 6946,CAS Team 2 6946 Queue,Answered,3,180.0,360.0,360.0,295.0,0.0,475.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200966,Outbound,Email,2025-04-03,Customer Services,Cost of Living Crisis Email,Deleted,1,60.0,345.0,345.0,344.0,0.0,404.0
200967,Outbound,Email,2025-04-03,Customer Services,Cost of Living Crisis Email,Sent,2,393.0,709.0,709.0,707.0,1.0,1100.0
200968,Outbound,Email,2025-04-04,Customer Services,Cost of Living Crisis Email,Deleted,1,61.0,96.0,96.0,95.0,1.0,156.0
200969,Outbound,Email,2025-04-04,Customer Services,Cost of Living Crisis Email,Sent,1,60.0,84.0,84.0,83.0,0.0,143.0
200970,Outbound,Messaging,2023-09-11,Customer Services,Cost of Living Crisis,Other,1,0.0,18.0,18.0,18.0,0.0,18.0

Unique values per field:

                Field Name  No. of Unique Values
0                direction                     2
1                     type                     3
2              dateofqueue                  1186
3                groupname                    48
4                    queue                   187
5                   result                    11
6   number_of_interactions                   427
7          wrap_upduration                  9400
8               queue_time                 42621
9                 duration                 42621
10               talk_time                 22008
11               hold_time                 13915
12     agent_handling_time                 24872

Number of duplicate rows:
0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200971 entries, 0 to 200970
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   direction               200971 non-null  object
 1   type                    200971 non-null  object
 2   dateofqueue             200971 non-null  object
 3   groupname               200971 non-null  object
 4   queue                   200971 non-null  object
 5   result                  200971 non-null  object
 6   number_of_interactions  200971 non-null  int64
 7   wrap_upduration         200971 non-null  float64
 8   queue_time              200971 non-null  float64
 9   duration                200971 non-null  float64
 10  talk_time               200971 non-null  float64
 11  hold_time               200971 non-null  float64
 12  agent_handling_time     200971 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 19.9+ MB
DataFrame: df_name

None

Summary statistics:

,number_of_interactions,wrap_upduration,queue_time,duration,talk_time,hold_time,agent_handling_time
count,200971.000000,2.009710e+05,2.009710e+05,2.009710e+05,200971.000000,2.009710e+05,2.009710e+05
mean,12.282110,7.907555e+02,3.390254e+05,3.390254e+05,3087.679267,7.569788e+03,4.487962e+03
std,33.373189,9.232739e+03,4.021106e+06,4.021106e+06,8598.988059,5.050917e+05,1.797569e+04
min,1.000000,0.000000e+00,-3.200000e+01,-3.200000e+01,-98142.000000,0.000000e+00,0.000000e+00
25%,1.000000,0.000000e+00,2.800000e+02,2.800000e+02,0.000000,0.000000e+00,0.000000e+00
50%,4.000000,3.000000e+01,1.305000e+03,1.305000e+03,335.000000,0.000000e+00,4.830000e+02
75%,11.000000,2.780000e+02,6.912000e+03,6.912000e+03,2053.000000,1.080000e+02,2.702000e+03
max,4154.000000,2.313121e+06,6.078473e+08,6.078473e+08,310823.000000,2.212321e+08,2.334216e+06

End of data validation
#########################################################################################################################################################################################

In [ ]:
mf.export_to_csv(
    aggregated_interactions,
    directory = r'path\to\data',
    df_name='Netcall Dashboard Data'
)

Exproting Netcall Dashboard Data to CSV...
@ C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data\Netcall Dashboard Data.csv

Successfully exported Netcall Dashboard Data to CSV