In [1]:
import os
os.chdir(r'C:\Users\jf79\Repos\REAP-Analytics')

import myfuncs.myfuncs as mf

import pandas as pd
pd.set_option('display.max_columns', None)
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
customer_columns = {
    'InteractionsKey':'interactionskey',
    'ETLTaskID':'etltaskid',
    'RowNumber':'rownumber',
    'GroupName':'groupname',
    'Type':'type',
    'Direction':'direction',
    'TimeQueued':'timequeued',
    'TimeEnded':'timeended',
    'Queue':'queue',
    'Skill':'skill',
    'Agent':'agent',
    'Username':'username',
    'UserID':'userid',
    'CustomerName':'customername',
    'CustomerContact':'customercontact',
    'QueueWait':'queuetime',
    'Duration':'duration',
    'TalkTime':'talktime',
    'CallHoldDuration':'holdtime',
    'WrapUpDuration':'wrapupduration',
    'AgentHandlingTime':'agenthandlingtime',
    'Result':'result',
    'ActivityCode':'activitycode',
    'AssistedBy':'assistedby',
    'TransferredTo':'transferredto',
    'MediaInteractionId':'interactionid',
    'Subject':'subject',
    'CaseReference':'casereference',
    'Tags':'tags',
    'Forwarded':'forwarded',
    'IPAddress':'ipaddress',
    'FormattedSource':'formattedsource',
    'ConversationID':'conversationid',
    'ConversationStartTime':'conversationstarttime',
    'ConversationEndTime':'conversationendtime',
    'ConversationDuration':'conversationduration'
}
master_columns = {
    'Interaction Id':'interactionid',
    'Type':'type',
    'Direction':'direction',
    'Time Queued':'timequeued',
    'Time Ended':'timeended',
    'Queue':'queue',
    'Skill':'skill',
    'Agent':'agent',
    'Customer Name':'customername',
    'Customer Contact':'customercontact',
    'Queue Time':'queuetime',
    'Duration':'duration',
    'Talk Time':'talktime',
    'Hold Time':'holdtime',
    'Wrap-up Duration':'wrapupduration',
    'Agent Handling Time':'agenthandlingtime',
    'Result':'result',
    'Activity Code':'activitycode',
    'Assisted By':'assistedby',
    'Transferred To':'transferredto',
    'Subject':'subject',
    'Conversation Start Time':'conversationstarttime',
    'Conversation End Time':'conversationendtime',
    'Conversation Duration':'conversationduration',
    'Agent Username':'agentusername',
    'Agent ID':'agentid',
    'Case Reference':'casereference',
    'Forwarded':'forwarded',
    'Source':'source',
    'Conversation ID':'conversationid',
    'IP Address':'ipaddress'
}

In [3]:
customer_service_data = mf.query_data(schema='Netcall', data='Interactions')
customer_service_data

Successfully imported Interactions

,InteractionsKey,ETLTaskID,RowNumber,GroupName,Type,Direction,TimeQueued,TimeEnded,Queue,Skill,Agent,Username,UserID,CustomerName,CustomerContact,QueueWait,Duration,TalkTime,CallHoldDuration,WrapUpDuration,AgentHandlingTime,Result,ActivityCode,AssistedBy,TransferredTo,MediaInteractionId,Subject,CaseReference,Tags,Forwarded,IPAddress,FormattedSource,ConversationID,ConversationStartTime,ConversationEndTime,ConversationDuration
0,1,1918260,1,Customer_Services,Email,Inbound,31/01/2022 15:30:58,23/03/2022 16:04:58,Accessible Transport,Accessible Transport Email,,,,,dennisred081@gmail.com,1224:34:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,Discarded,,,,2783869,,,,0,,Email,2655959,31/01/2022 15:30:58,23/03/2022 16:04:58,1224:34:00
1,2,1918260,2,Customer_Services,Email,Inbound,31/01/2022 15:40:00,23/03/2022 16:04:58,Accessible Transport,Accessible Transport Email,,,,,dennisred081@gmail.com,1224:24:58,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,Discarded,,,,2784043,,,,0,,Email,2656133,31/01/2022 15:40:00,23/03/2022 16:04:58,1224:24:58
2,3,1918260,3,Customer_Services,Email,Inbound,31/01/2022 15:48:58,23/03/2022 16:04:58,Accessible Transport,Accessible Transport Email,,,,,r.sl02@yahoo.co.uk,1224:16:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,Discarded,,,,2784357,Re: BLUE BADGE APPLICATION OUTCOME,,,0,,Email,2656445,31/01/2022 15:48:58,23/03/2022 16:04:58,1224:16:00
3,4,1918260,4,Customer_Services,Email,Inbound,31/01/2022 17:28:37,23/03/2022 16:04:58,Accessible Transport,Accessible Transport Email,,,,,aeomidi1@yahoo.co.uk,1222:36:21,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,Discarded,,,,2786103,Monireh Seif Omrani Blue Badge Document Requested,,,0,,Email,2658163,31/01/2022 17:28:37,23/03/2022 16:04:58,1222:36:21
4,5,1918260,5,Customer_Services,Email,Inbound,31/01/2022 17:33:30,23/03/2022 16:04:58,Accessible Transport,Accessible Transport Email,,,,,aeomidi1@yahoo.co.uk,1222:31:27,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,Discarded,,,,2786115,Monireh Seif Omrani Photo requested,,,0,,Email,2658175,31/01/2022 17:33:30,23/03/2022 16:04:58,1222:31:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014999,1040265,3391545,1127,Customer_Services,Call,Inbound,09/04/2025 08:15:44,09/04/2025 08:17:34,Cost of Living Crisis,Cost of Living Crisis,Cush-Ashanti Porter,7844,7844,,07506312213,00:00:19,00:01:31,00:01:31,00:00:00,00:00:30,00:02:01,Answered,Food Bank Referral,,,7925623,,,,N/A,,Dialogue,7551255,09/04/2025 08:15:44,09/04/2025 08:17:34,00:01:50
1015000,1040266,3391545,1128,Customer_Services,Call,Inbound,09/04/2025 08:05:49,09/04/2025 08:08:46,Cost of Living Crisis,Cost of Living Crisis,Umar Rajput,5764,5764,,07908929444,00:01:25,00:01:33,00:01:33,00:00:00,00:00:40,00:02:13,Answered,Food Bank Referral,,,7925607,,,,N/A,,Dialogue,7551239,09/04/2025 08:05:49,09/04/2025 08:08:46,00:02:57
1015001,1040267,3391545,1129,Customer_Services,Call,Inbound,09/04/2025 08:02:18,09/04/2025 08:08:06,Cost of Living Crisis,Cost of Living Crisis,Cush-Ashanti Porter,7844,7844,,02036487579,00:04:05,00:01:43,00:01:43,00:00:00,00:00:30,00:02:13,Answered,Food Bank Referral,,,7925597,,,,N/A,,Dialogue,7551229,09/04/2025 08:02:18,09/04/2025 08:08:06,00:05:48
1015002,1040268,3391545,1130,Customer_Services,Call,Inbound,09/04/2025 08:02:11,09/04/2025 08:06:27,Cost of Living Crisis,Cost of Living Crisis,Umar Rajput,5764,5764,,07351593482,00:02:20,00:01:55,00:01:55,00:00:00,00:00:30,00:02:25,Answered,Food Bank Referral,,,7925593,,,,N/A,,Dialogue,7551225,09/04/2025 08:02:11,09/04/2025 08:06:27,00:04:16
1015003,1040269,3391545,1131,Customer_Services,Call,Inbound,09/04/2025 08:02:01,09/04/2025 08:03:45,Cost of Living Crisis,Cost of Living Crisis,Umar Rajput,5764,5764,,07534143943,00:00:18,00:01:27,00:01:27,00:00:00,00:00:30,00:01:57,Answered,Food Bank Referral,,,7925589,,,,N/A,,Dialogue,7551221,09/04/2025 08:02:01,09/04/2025 08:03:45,00:01:44

In [4]:
root_dir = r"C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data"
os.chdir(root_dir)

mf.read_directory()

# Create an empty DataFrame to store the combined data
master_data = pd.DataFrame()
 
# Iterate over each folder in the root directory
for folder in os.listdir(root_dir):
    folder_path = os.path.join(root_dir, folder)
    # Ensure it's a directory
    if os.path.isdir(folder_path):
        # Iterate over each CSV file in the folder
        for file in os.listdir(folder_path):
            if file.endswith(".csv"):  # Ensure it's a CSV file
                file_path = os.path.join(folder_path, file)
 
                # Read CSV
                df = pd.read_csv(file_path)
 
                # Add a new column with the CSV filename
                df["Source_File"] = file
 
                # Append to master DataFrame
                master_data = pd.concat([master_data, df], ignore_index=True)

Your Current Directory is: C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data
Files in: ['desktop.ini', 'Interactions Feb 2023 - Apr 2024 (excl Cust Serv)', 'Interactions Feb 2025 (excl Cust Serv)', 'Interactions Jan 2022 - Dec 2022 (excl Cust Serv)', 'Interactions Jan 2024 - Jun 2024 (excl Cust Serv)', 'Interactions Jun 24 - Jan 25 (excl Cust Serv)', 'Interactions Mar 2025 (excl Cust Serv)', 'Interactions_Jan 2023 (LIMITED GROUPS)', 'Netcall Dashboard Data.csv', 'Netcall Interactions Master Data.csv']

In [5]:
customer_service = customer_service_data.copy()
customer_service.rename(
    columns=customer_columns,
    inplace=True
)
customer_service = customer_service[customer_service['groupname'] == 'Customer_Services']

columns_to_drop = [
    'interactionskey','etltaskid','rownumber',
    'username','userid','tags','formattedsource'
]
customer_service.drop(columns=columns_to_drop, inplace=True)
col = customer_service.pop('interactionid')
customer_service.insert(0, 'interactionid', col)
customer_service['groupname'] = customer_service['groupname'].str.replace('Customer_Services','Customer Services')

customer_service.sort_values(
    ['timequeued'],
    ascending=True,
    inplace=True
)

drop = customer_service[customer_service['interactionid'].duplicated(keep='first')]
customer_service.drop(
    drop.index,
    inplace=True
)
customer_service.reset_index(
    drop='index',
    inplace=True
)

customer_service['timequeued'] = pd.to_datetime(customer_service['timequeued'], format='mixed', dayfirst=True)
customer_service['timeended'] = pd.to_datetime(customer_service['timeended'], format='mixed', dayfirst=True)
customer_service['Year'] = customer_service['timequeued'].dt.year
customer_service['Month'] = customer_service['timequeued'].dt.month

In [6]:
master_df = master_data.copy()
master_df.rename(
    columns=master_columns,
    inplace=True
)

# Step 1: Split at the first dot (.)
master_df[['groupname', 'to_drop']] = master_df['Source_File'].str.split('.', expand=True)
 
# Step 2: Split at the first opening parenthesis (()
master_df[['groupname', 'to_drop']] = master_df['groupname'].str.split('(', expand=True)
 
# Step 3: Clean text (remove punctuation & normalize spaces)
master_df['groupname'] = master_df['groupname'].apply(lambda text: re.sub(r"[^\w\s]", "", text).strip())
master_df['groupname'] = master_df['groupname'].str.replace('Childrens', 'Children')
master_df['groupname'] = master_df['groupname'].str.replace('Children', 'Childrens')
master_df['groupname'] = master_df['groupname'].str.replace('ICAT6600', 'ICAT 6600')
master_df['groupname'] = master_df['groupname'].str.replace('Refugee', 'Refuge')
master_df['groupname'] = master_df['groupname'].str.replace('Refuge', 'Refugee')
master_df['groupname'] = master_df['groupname'].str.replace('Netcall HMS', 'HMS')
master_df['groupname'] = master_df['groupname'].str.replace('HMS', 'Netcall HMS')
master_df['groupname'] = master_df['groupname'].str.replace('Recovery Queue', 'Recovery')

col = master_df.pop('interactionid')
master_df.insert(0, 'interactionid', col)
col = master_df.pop('groupname')
master_df.insert(1, 'groupname', col)

master_df.sort_values(
    ['timequeued','agentid'],
    ascending=True,
    inplace=True
)

master_df.drop(
    columns=['Tags','Source_File','to_drop','Group'],
    inplace=True
)
drop = master_df[master_df['interactionid'].duplicated(keep='first')]
master_df.drop(
    drop.index,
    inplace=True
)
master_df.reset_index(
    drop='index',
    inplace=True
)


master_df['timequeued'] = pd.to_datetime(master_df['timequeued'], format='mixed', dayfirst=True)
master_df['timeended'] = pd.to_datetime(master_df['timeended'], format='mixed', dayfirst=True)
master_df['Year'] = master_df['timequeued'].dt.year
master_df['Month'] = master_df['timequeued'].dt.month

In [7]:
final_df = pd.concat([master_df,customer_service])

values_to_change = [
    'Unknown','Completed','0'
]
for value in values_to_change:
    if value == '0':
        final_df['result'] = final_df['result'].str.replace('0','Failed')
    else:
        final_df['result'] = final_df['result'].str.replace(f'{value}','Other')

final_df['nullcount'] = final_df.isna().sum(axis=1)
final_df.sort_values(by=['interactionid','nullcount'], inplace=True)
drop = final_df[final_df['interactionid'].duplicated(keep='first')]
final_df.drop(drop.index, inplace=True)
final_df.drop(columns='nullcount', inplace=True)

mf.validate_data(final_df)

#########################################################################################################################################################################################
DataFrame: None

,interactionid,groupname,type,direction,timequeued,timeended,queue,skill,agent,customername,customercontact,queuetime,duration,talktime,holdtime,wrapupduration,agenthandlingtime,result,activitycode,assistedby,transferredto,subject,conversationstarttime,conversationendtime,conversationduration,agentusername,agentid,casereference,forwarded,source,conversationid,ipaddress,Year,Month
0,2640671,Repair CSC,Email,Inbound,2022-01-01 02:15:00,2022-01-04 16:01:00,Repairs customer e-mail,E-Mail Responses - Customer,Georgia St Rose,NaN,Gbenga.Osunkoya@lbhf.gov.uk,85:46:29,00:04:05,00:04:05,00:00:00,00:00:04,00:04:09,Replied,Repair Status,NaN,NaN,RE: Inspection item Requires Attention - (BLK)...,01/01/2022 02:15,04/01/2022 16:01,85:46:28,4861,4861.0,NaN,0.0,Email,2516337,NaN,2022,1
1,2640679,Repair CSC,Email,Inbound,2022-01-01 06:14:00,2022-01-04 16:05:00,Repairs Internal e-mail,E-mail Responses - Internal,Georgia St Rose,NaN,Baboucarr.Gaye@lbhf.gov.uk,81:51:19,00:03:35,00:03:34,00:00:01,00:00:09,00:03:43,Replied,Repair Status,NaN,NaN,RE: Norland House Electrical Failure (Job Ref....,01/01/2022 06:14,04/01/2022 16:05,81:51:20,4861,4861.0,NaN,0.0,Email,2516345,NaN,2022,1
2,2640681,Repair CSC,Email,Inbound,2022-01-01 09:08:00,2022-01-04 16:05:00,Repairs Internal e-mail,E-mail Responses - Internal,Emma Hicks,NaN,orbisreports@orbisprotect.com,78:56:42,00:03:06,00:03:06,00:00:00,00:00:16,00:03:22,Transferred,OOH - Related,NaN,Mehul Patel,[Orbis Protect] - Unallocated Cases,01/01/2022 09:08,04/01/2022 16:17,79:09:21,971,971.0,NaN,0.0,Email,2516347,NaN,2022,1
3,2640683,Repair CSC,Email,Inbound,2022-01-01 09:38:00,2022-01-04 16:19:00,Repairs customer e-mail,E-Mail Responses - Customer,Emma Hicks,NaN,noreply@lbhf.gov.uk,78:41:00,00:14:11,00:14:10,00:00:01,00:01:00,00:15:10,Replied,Repair Status,NaN,NaN,Form submission from: Housing repair notificat...,01/01/2022 09:38,04/01/2022 16:19,78:41:00,971,971.0,NaN,0.0,Email,2516349,NaN,2022,1
4,2640689,Repair CSC,Email,Inbound,2022-01-01 11:49:00,2022-01-04 16:11:00,Repairs customer e-mail,E-Mail Responses - Customer,Georgia St Rose,NaN,photobook@housemark.co.uk,76:21:50,00:05:42,00:05:42,00:00:00,00:00:03,00:05:45,Replied,Report New Repair,NaN,NaN,Inspection item Requires Attention - (BLK) 1-1...,01/01/2022 11:49,04/01/2022 16:11,76:21:50,4861,4861.0,NaN,0.0,Email,2516355,NaN,2022,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304061,7930908,Customer Services,Call,Outbound,2025-04-09 17:23:42,2025-04-09 17:28:14,Parking Permits Other,Parking Permits Other,Wayne Clarke,,07928492735,N/A,00:04:29,00:04:29,00:00:00,00:00:04,00:04:33,Answered,,,,,09/04/2025 17:23:42,09/04/2025 17:28:14,00:04:32,NaN,NaN,,N/A,NaN,7556446,,2025,4
304062,7930914,Customer Services,Call,Inbound,2025-04-09 17:30:50,2025-04-09 17:35:32,Cost of Living Crisis,Cost of Living Crisis,Joseph Addison,,07539906787,00:00:15,00:04:26,00:03:14,00:01:12,00:00:30,00:04:56,Answered,Fuel Voucher New Request,,,,09/04/2025 17:30:50,09/04/2025 17:35:32,00:04:42,NaN,NaN,,N/A,NaN,7556452,,2025,4
304063,7930926,Customer Services,Call,Inbound,2025-04-09 17:47:17,2025-04-09 17:48:21,Cost of Living Crisis,Cost of Living Crisis,Joseph Addison,,Unknown,00:00:16,00:00:48,00:00:28,00:00:20,00:00:30,00:01:18,Answered,Cost of Living Payment Query,,,,09/04/2025 17:47:17,09/04/2025 17:48:21,00:01:04,NaN,NaN,,N/A,NaN,7556464,,2025,4
304064,7930928,Customer Services,Call,Inbound,2025-04-09 17:50:25,2025-04-09 17:52:00,Cost of Living Crisis,Cost of Living Crisis,Joseph Addison,,Unknown,00:00:15,00:01:20,00:01:13,00:00:07,00:00:30,00:01:50,Answered,Cost of Living Payment Query,,,,09/04/2025 17:50:25,09/04/2025 17:52:00,00:01:35,NaN,NaN,,N/A,NaN,7556466,,2025,4
304065,7930930,Customer Services,Call,Inbound,2025-04-09 17:53:55,2025-04-09 17:55:59,Cost of Living Crisis,Cost of Living Crisis,Joseph Addison,,Unknown,00:00:10,00:01:54,00:01:54,00:00:00,00:00:30,00:02:24,Answered,Fuel Voucher New Request,,,,09/04/2025 17:53:55,09/04/2025 17:55:59,00:02:04,NaN,NaN,,N/A,NaN,7556468,,2025,4

Unique values per field:

               Field Name  No. of Unique Values
0           interactionid               2518318
1               groupname                    48
2                    type                     3
3               direction                     2
4              timequeued               2026995
5               timeended               2033885
6                   queue                   187
7                   skill                   200
8                   agent                   771
9            customername                   762
10        customercontact                341947
11              queuetime                138679
12               duration                 19707
13               talktime                  7158
14               holdtime                 17667
15         wrapupduration                  3065
16      agenthandlingtime                  7599
17                 result                    11
18           activitycode                   866
19             assistedby                    15
20          transferredto                  4260
21                subject                169370
22  conversationstarttime               1987623
23    conversationendtime               2004804
24   conversationduration                130653
25          agentusername                   632
26                agentid                   650
27          casereference                    30
28              forwarded                    13
29                 source                    25
30         conversationid               2417271
31              ipaddress                   195
32                   Year                     4
33                  Month                    12

Number of duplicate rows:
0

<class 'pandas.core.frame.DataFrame'>
Index: 2518318 entries, 0 to 304065
Data columns (total 34 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   interactionid          2518318 non-null  object
 1   groupname              2518318 non-null  object
 2   type                   2518318 non-null  object
 3   direction              2518318 non-null  object
 4   timequeued             2518318 non-null  datetime64[ns]
 5   timeended              2518318 non-null  datetime64[ns]
 6   queue                  2518318 non-null  object
 7   skill                  2307015 non-null  object
 8   agent                  2269979 non-null  object
 9   customername           1013744 non-null  object
 10  customercontact        2512241 non-null  object
 11  queuetime              2278746 non-null  object
 12  duration               2518318 non-null  object
 13  talktime               2518318 non-null  object
 14  holdtime               2518318 non-null  object
 15  wrapupduration         2518318 non-null  object
 16  agenthandlingtime      2518318 non-null  object
 17  result                 2518318 non-null  object
 18  activitycode           1898095 non-null  object
 19  assistedby             994628 non-null   object
 20  transferredto          1127486 non-null  object
 21  subject                1321964 non-null  object
 22  conversationstarttime  2517646 non-null  object
 23  conversationendtime    2517294 non-null  object
 24  conversationduration   2518318 non-null  object
 25  agentusername          1201111 non-null  object
 26  agentid                1200830 non-null  object
 27  casereference          994699 non-null   object
 28  forwarded              1323829 non-null  object
 29  source                 1523722 non-null  object
 30  conversationid         2518318 non-null  object
 31  ipaddress              994630 non-null   object
 32  Year                   2518318 non-null  int32
 33  Month                  2518318 non-null  int32
dtypes: datetime64[ns](2), int32(2), object(30)
memory usage: 653.3+ MB
DataFrame: df_name

None

Summary statistics:

,timequeued,timeended,Year,Month
count,2518318,2518318,2.518318e+06,2.518318e+06
mean,2023-08-17 14:06:49.851792896,2023-08-17 21:38:07.783897856,2.023165e+03,6.053642e+00
min,2022-01-01 02:15:00,2022-01-04 07:40:00,2.022000e+03,1.000000e+00
25%,2022-10-18 09:02:00,2022-10-18 11:58:56.249999872,2.022000e+03,3.000000e+00
50%,2023-08-25 10:42:14.500000,2023-08-25 13:13:26,2.023000e+03,6.000000e+00
75%,2024-06-03 14:43:58,2024-06-03 15:41:53,2.024000e+03,9.000000e+00
max,2025-04-09 17:53:55,2025-04-09 17:55:59,2.025000e+03,1.200000e+01
std,NaN,NaN,9.576345e-01,3.425970e+00

End of data validation
#########################################################################################################################################################################################

In [8]:
mf.export_to_csv(
    final_df, 
    directory = r'C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data', 
    df_name='Netcall Interactions Master Data'
)

Exproting Netcall Interactions Master Data to CSV...
@ C:\Users\jf79\OneDrive - Office Shared Service\Sharepoint Links\BI - Corporate - Interactions Data\Netcall Interactions Master Data.csv

Successfully exported Netcall Interactions Master Data to CSV

In [9]:
# aggregated_interactions = final_df.groupby(['direction','type','Year','Month','groupname','queue']).agg(
#     number_of_interactions = ('interactionid', 'count')
# ).reset_index()

# mf.export_to_csv(aggregated_interactions)